.input{
    border: 2px solid black;
    border-radius: 10px;
    background-color: #dadada;

    padding-left: 10px;
    padding-right: 10px;
    min-height: 25px;
}

.input:focus-visible{
    border-color: deepskyblue;
}