
div.error{
    margin-bottom: 30px;
}

.loaderBG{
    width: 100%;
    height: 100%;
    background-color: #1d2630;
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
}

.loader{
    width: 10%;
    aspect-ratio: 1/1;
}

.form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /*border: 2px solid black;*/
    /*padding: 10px 25px;*/
    background-color: white;
    border-radius: 16px;
    min-width: 250px;
    min-height: 150px;

}

.btnCont{
    display: flex;
    justify-content: center;
}

.simpleForm{
    /*height: 200px;*/
    /*width: 250px;*/
}



.authForm{

    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    width: 350px;
    height: 200px;

    margin-bottom: 30px;
}


.authForm h1{
    display: flex;
    justify-content: center;
}

.authForm p{
    font-size: 0.8rem;
    /*margin: 10px 0 0px 0;*/
}

.authForm>*{
    margin: 10px 0;
}

.wrapLink{
    color: blue;
    text-decoration-line:underline;
}