/* KEYFRAMES */

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(359deg);
    }
}

/* GRID STYLING */

/** {*/
/*    box-sizing: border-box;*/
/*}*/


.spinnerBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d2630;
}

/* ALTERNATING ORBITS */

.circleBorder {
    width: 100%;
    height: 100%;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(63,249,220);
    background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgba(63,249,220,1) 100%);
    animation: spin .8s linear 0s infinite;
}

.circleCore {
    width: 100%;
    height: 100%;
    background-color: #1d2630;
    border-radius: 50%;
}