.slideTwo {
    width: 80px;
    height: 30px;
    background: #333;
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);
}
.slideTwo:after {
    content: '';
    position: absolute;
    top: 14px;
    left: 14px;
    height: 2px;
    width: 52px;
    background: #111;
    border-radius: 50px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);
}
.slideTwo label {
    display: block;
    width: 22px;
    height: 22px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    z-index: 1;
    left: 4px;
    background: #fcfff4;
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
}
.slideTwo label:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 6px;
    left: 6px;
    background: #333;
    border-radius: 50px;
    box-shadow: inset 0 1px 1px black, 0 1px 0 rgba(255, 255, 255, 0.9);
}
.slideTwo input[type=checkbox] {
    visibility: hidden;
}
.slideTwo input[type=checkbox]:checked + label {
    left: 54px;
}
.slideTwo input[type=checkbox]:checked + label:after {
    background: #27ae60;
    /*activeColor*/
}




.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.column{
    /*height: 150px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    min-height: 200px;
    position: relative;
}

.optionInput{
    width: 80px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px auto;
}

.optionInput:focus-visible{
    border-color: deepskyblue;
}

.btnWrap{
    display: flex;
    justify-content: center;
}

.loaderBG{
    width: 100%;
    height: 100%;
    background-color: #1d2630;

    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 16px;

}
.loader{
    width: 10%;
    aspect-ratio: 1/1;
}

.tooltipHint{
    position: absolute;
    left: 0 !important;
    z-index: 3;

    padding: 5px;
    border-radius: 8px;

    background-color: var(--color-bg-loader);
    color: white;
}

.tooltipHint div{
    font-size: 0.75rem;
}

.limitation{
    font-size: 0.7rem;
}