.timer{
    background-color: chartreuse;
    height: 100%;
    width: 400px;

    position: absolute;
    right: 0;

    display: flex;
    justify-content: space-between;
}



.act{
    width: 50%;
    border: 2px solid #4c51f9;
    display: flex;
    justify-content: space-between;
}

.actName{
    width: 90%;
    border: 2px solid red;
}

.act button{
    width: 30px;
}

.time{
    font-size: 2rem;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}


.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

