.timer{
    background-color: chartreuse;
    height: 100%;
    width: 600px;

    position: absolute;
    right: 0;

    display: flex;
    justify-content: space-between;
}



.act{
    width: 50%;
    border: 1px solid #4c51f9;
    display: flex;
    justify-content: space-between;
}

.actName{
    width: 90%;
    height: 100%;
    /*border: 2px solid red;*/
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.act button{
    width: 30px;
}

.time{
    font-size: 2rem;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}


.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    .timer{
        width: 400px;
    }
}

@media (max-width: 750px) {
    .timer{
        width: 300px;
    }
    .time{
        font-size: 1.5rem;
    }
}

@media (max-width: 630px) {
    .timer {
        display: none;
    }
}

