.popUp{
    font-weight: bold;
    height: 100%;
    width: 100px;

    /*border: 2px solid red;*/

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    cursor: pointer;
}

.popUp:hover{
    background-color: #caedfc;
    border: 2px solid #9ceeff;
}

.lightPopUp{
    color: var(--main1-color-font);
}

.lightPopUp:hover{
    background-color: var(--color-head-menu1);
    border: 2px solid var(--color-head-menu2);
}


.menu{
    min-height: 3vh;
    width: 10vw;

    position: absolute;
    top: 29px;
    z-index: 3;
    background-color: white;

    display: flex;
    flex-direction: column;

}
