.block{
    display: inline-block;
    min-width: 150px;
    height: 30px;
    opacity: 100;
    border-radius: 15px;
    border: 2.5px solid black;
    background-color: white;
    position: relative;
    /*top: -7.5%;*/
    padding: 0 2px 0;
}

.wrap{
    display: flex;
    align-items: center;
    /*justify-content: space-around;*/
    height:100%;
    width: 100%;
    position: relative;
    /*top: 50%;*/
    /*transform: translate(0,-50%);*/
}

.btns{
    margin-left: 10px;
}

/*.btn{*/
/*    width: 20px;*/
/*    height: 100%;*/
/*    background-color: white;*/
/*    font-size: 15px;*/
/*    cursor: pointer;*/
/*}*/

.btn {
    margin-right: 5px;
    outline: none;
    border: none;
    border-radius: 50%;
    height: 21px;
    aspect-ratio: 1/1;
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: none;
    color: #444;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(65 ,132 ,144,0.10), 0 1px 3px rgba(0 ,0 ,0 , 0.8);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.2s;
}
.btn:focus-visible {
    border: 1px solid #4c51f9;
    outline: none;
}
.btn:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgba(65 ,132 ,144,0.10), 0 3px 6px rgba(0 ,0 ,0 , 0.8);
}
.btn:active {
    background-color: #808080;
}

.wideBtn{
    width: 40px;
    border-radius: 3px;
    aspect-ratio: 2/1;
}

.test{
    display:flex;
    align-items: center;
    min-width:50px;
    color:black;
    height: 100%;

    margin-left: 10px;
}

.headList{
    width: 50px;
    background-color: rgba(0,0,0,0);
    position: relative;
    height: 95%;
    cursor: pointer;
}
.headList div{
    height: 100%;
    width: 100%;
}

.headList .textHead{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid black;
    z-index: 2;
}

.headList .bgHead{
    border-radius: 5px;
    position: absolute;
    height: calc(100% - 4px);
    top: 2px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.19);
    width: 0;
    transition: all 0.7s ease-in-out;
}
.test:hover .bgHead,.test.active .bgHead{
    width: 100%;
    height: 100%;
    top: 0;
    transition: all 0.7s ease-in-out;
}


.test ul{
    height: 100%;
    display: flex;
    align-items: center;
    width: 0;
    transition: width 0.2s 0.5s  ease-in-out, padding 0.2s 0.5s  ease-in-out;
    overflow: hidden;

}

.test:hover ul, .test.active ul{
    width: 125px;
    padding: 0 5px;
    transition: width 0.2s 0.5s  ease-in-out, padding 0.2s 0.5s  ease-in-out;
}

.test li{
    padding: 0;
}

