.block{
    display: inline-block;
    width: 120px;
    height: 20px;
    opacity: 100;
}

.btnCreateList{
    width: calc(100%/2);
    margin-right: 20px;
}

.btn{
    width: 20px;
    height: 100%;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
}

.wideBtn{
    width: 40px;
}