.head{
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;

    height: 30px;
    width: 100%;
    background-color: aqua;
}

.menu{
    display: flex;
    height: 100%;
}


.loaderBG{
    height: 100%;

    background-color: #1d2630;
    display: grid;
    place-items: center;
}

.loader{
    height: 100%;
    aspect-ratio: 1/1;
}

.aboutMe{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

.aboutMe a{
    color: red;
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase;
}