.nav{
    position: fixed;
    top: 30px;
    left: 0;

    background-color: #1d2630;
    width: 150px;
    height: calc(100vh - 30px);

    display: flex;
    flex-direction: column;

    transition: left 0.5s ease-in-out;



}

.lightNav{
    background-color: var(--color1-bg-body-l);
    color: white;
}

.navBody{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.navBody::-webkit-scrollbar {
    width: 12px;
}

.navBody::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.navBody::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #8070d4;
}


.grab{
    height: 40px;
    color: white;
    background-color: var(--color1-bg-d);
    font-weight: bold;

    display: grid;
    grid-template-columns: 25px 1fr;
    grid-template-rows: 100%;

    border-bottom: 2px solid;
    border-top: 2px solid;
    border-color: var(--color-border-d);

}

.grab span{
    background-color: var(--color2-bg-d);
}
.navBody li:last-child .grab{
    border-bottom: 4px solid var(--color-border-d);
}
.navBody li:first-child .grab{
    border-top: 4px solid var(--color-border-d);
}

.save{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    border-right: 3px solid black;
}

.saveIMG{
    height: 40%;
    -webkit-user-drag: none;
}

.pageName{
    height: 100%;
}

.grab.take span{
    background-color: var(--color2-bg-take-d);
}

.grab.take .pageName{
    background-color: var(--color1-bg-take-d);
}


.lightNav .grab span{
    background-color: var(--color2-bg-l);
}

.lightNav .grab .pageName{
    background-color: var(--color1-bg-l);
}

.lightNav .grab.take span{
    background-color: var(--color2-bg-take-l);
}

.lightNav .grab.take .pageName{
    background-color: var(--color1-bg-take-l);
}

.lightNav .grab{
    color: var(--main1-color-font) !important;


    border-bottom-color: var(--color-border-l);
    border-top-color: var(--color-border-l);
    background-color:  var(--color-border-l);
}
.lightNav .grab button{
    color: var(--main1-color-font) !important;
}

.lightNav .navBody li:last-child .grab{
    border-bottom-color: var(--color-border-l);
}
.lightNav .navBody li:first-child .grab{
    border-top-color: var(--color-border-l);
}

.lightNav .save{
    border-right-color: var(--color-border-l);
}


.notSidePanel{
    left: -150px;
    transition: left 0.5s ease-in-out;
}

.wrapBtnOptions{
    height: 80px;
    max-height: 50%;
    display: flex;
    justify-content: center;
    padding: 5px;

}



.btnOptions{
    height: 100%;
    aspect-ratio: 1/1;
    /*background-color: rgba(0,0,0,0.2);*/

    border-radius: 50%;
    overflow: hidden;
    transition: background-color 0.2s ease-in-out;
}

.btnOptions:hover{
    background-color: rgba(255, 255, 255, 0.15);
    transition: background-color 0.2s ease-in-out;
}

.btnOptions:active{
    background-color: rgba(255, 255, 255, 0.4);
    /*transition: background-color 0.4s ease-in-out;*/
}

.lightNav .btnOptions:hover{
    background-color: rgba(196, 146, 135, 0.57);
}

.lightNav .btnOptions:active{
    background-color: rgba(196, 146, 135, 0.9);
}


.loaderBG{
    height: 90%;
    background-color: var(--color-bg-loader);
    display: grid;
    place-items: center;
}

.loader{
    width: 70%;
    aspect-ratio: 1/1;
}





.nav li {
    padding: 0;
}



/*.navTitle{*/
/*    height: 30px;*/
/*    width: 100%;*/
/*    background-color: orange;*/

/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*    font-weight: bold;*/
/*    font-size: 2rem;*/
/*}*/