.nav{
    position: fixed;
    top: 30px;

    background-color: #1d2630;
    width: 150px;
    height: calc(100vh - 30px);

    display: flex;
    flex-direction: column;
}

.navTitle{
    height: 30px;
    width: 100%;
    background-color: orange;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 2rem;
}

.navBody{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.btnOptions{
    height: 10%;
    width: 100%;
}


.loaderBG{
    height: 90%;
    background-color: #1d2630;
    display: grid;
    place-items: center;
}

.loader{
    width: 70%;
    aspect-ratio: 1/1;
}

.lightNav{
    background-color: grey;
}