
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

    font-size: 16px;
}

.App{
    height: 100vh;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    padding: 0 0 0 30px;
    margin: 0;
    list-style: none;

}

input, textarea{
    background: none;
    border: none;

    color: black;
    font-size: 1rem;
    font-weight: bold;

    height: 21px;

    resize: none;
}

    .body{
        width: calc(100% - 150px);
        min-height: calc(100vh - 30px);

        position: absolute;
        top: 30px;
        left: 150px;
        right: 0;

        border: 3px solid black;
        background: url("/src/img/BlackBG.jpg");
        background-size: 300px 300px;
    }

    .lightBody{
        background: url("/src/img/WhiteBG.jpg");
    }