*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

    font-size: 16px;
}

.App{
    height: 200vh;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    padding: 0 0 0 30px;
    margin: 0;
    list-style: none;

}

input{
    background: none;
    border: none;

    color: black;
    font-size: 1rem;
    font-weight: bold;

    height: 21px;
}


    .head{
        position: absolute;
        top: 0;
        right: 0;

        height: 30px;
        width: calc(100% - 150px);
        background-color: aqua;
    }

    .nav{
        position: fixed;
        top: 0;

        background-color: grey;
        width: 150px;
        height: 100vh;
    }

        .navTitle{
            height: 30px;
            width: 100%;
            background-color: orange;

            display: flex;
            justify-content: center;
            align-items: center;

            font-weight: bold;
            font-size: 2rem;
        }

        .btnOptions{
            display: flex;
            height: 5%;
            width: 100%;

            position: absolute;
            bottom: 0;
        }

    .body{
        width: calc(100% - 150px);
        height: 100%;

        position: absolute;
        top: 30px;
        left: 150px;
        right: 0;

        border: 3px solid black;
        background-color: darkblue;
    }



        .page{
            width: 100%;
            /*height: 100%;*/

            background-color: rgba(0, 128, 0, 0.65);
        }

            .wrapPage{
                display: flex;
            }

            .panel{
                width: 50px;
                /*border: 2px solid darkgrey;*/

                display: grid;
                grid-template-columns: 1fr 1fr;

            }
                .panel div{
                    display: flex;
                    flex-direction: column;
                }
                .wrapNum{
                    height: 25px;
                    width: 100%;
                    /*border: 2px solid white*/
                }

            .bodyPage{
                width: 100%;
                margin-left: 10px;
            }

                .list{
                    /*border: 2px solid lightgreen;*/
                }
                .bodyList{
                    border-left: 2px dotted grey;
                }

                .elem{
                    /*border: 2px solid red;*/
                    min-height: 25px;
                    width: 100%;

                    display: grid;
                    grid-template-rows: 25px 1fr;
                }
                    .elemHead{
                        display: grid;
                        align-items: center;
                        grid-template-columns: 150px 150px 1fr;
                    }
                    .description{
                        display: flex;
                    }


                .prefixEl{
                    border: 2px solid red;
                    min-height: 25px;
                    width: 20px;

                    text-align: center;

                    font-size: 1rem;
                    font-weight: bold;

                }


