.button{
    width: 100%;
    height: 100%;
    background-color: orange;

    border: 4px solid black;

    cursor: pointer;
}

.button img{
    height: 100%;
}

.buttonActive{
    border-color: white;
}

.button:hover{
    background-color: yellow;
}

.button:active{
    background-color: red;
}


