.main{

    display:grid;
    place-items: center;

    width: 100%;
    height: calc(100vh - 30px);

    padding: 1rem;
    /*background-color: var(--color-bg-loader);*/
    color: black;
}

.main div p{
    margin: 10px 0;
}