.page{
    width: 100%;

    background-color: rgba(43,43, 43, 1);
    color: whitesmoke;
    padding-top: 10px;
}
.page input{
    color: white !important;
}

.page.lightPage{
    background-color: rgba(255,248,247,0);
    color: var(--main1-color-font);
}

.page.lightPage input{
    color: var(--main1-color-font) !important;
}




.wrapPage{
    display: flex;
}

.bodyPage{
     width: 100%;
     margin-left: 10px;
 }


.loaderBG{
    height: calc(100vh - 36px);
    background-color: #1d2630;
    display: grid;
    place-items: center;
}

.loader{
    width: 10%;
    aspect-ratio: 1/1;
}



