.elem{
    /*border: 2px solid red;*/
    min-height: 25px;
    width: 100%;

    display: grid;
    grid-template-rows: 25px 1fr;
}
.elemHead{
    display: flex;
    align-items: center;
    height: 25px;
}

.elemMain{
    display: flex;
    align-items:center;
}

.elemMain input{
    height: 100%;
}
.elemMain:focus-within input{
    outline: 1px solid #6c58dc ;
}

.elemHeadHover:hover{
    outline: 2px solid;
    position: relative;
    z-index: 2;
}

.elemHeadSchedule{
    background-color: rgba(62,61,60,1);
}
.lightElemHead.elemHeadSchedule{
    background-color: var(--color1-bg-body-l);
}

.elemName{
    max-width: 500px;
}

.descBlock{
    margin-left: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}

.threePoint{
    height: 80%;
    width: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 90%/20px;
    border: 2px solid var(--color-head-menu1-d);
    color: var(--color1-bg-d);
    background-color: var(--color-head-d);
}

.threePoint p{
    font-size: 0.6rem;
}

.lightElemHead .threePoint{
    color: var(--main1-color-font);
    background-color: var(--color1-bg-body-l-h);
    border-color: rgba(196, 146, 135, 0.9);;
}






.elemHead div{
     display: flex;
 }

.threePoint,.elemHead div input{
     margin-right: 15px;
 }