.list{
    /*border: 2px solid lightgreen;*/
}
.bodyList{
    border-left: 2px dotted grey;
}

.prefixEl{
    overflow: hidden;
    height: 25px;
    width: 25px;

    display: grid;
    place-items: center;

    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 5px;
}